EasyFood/EasyFood/Service References/ServiceReference2/ValoriNutritionale.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ValoriNutritionale" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ValoriNutritionale" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfIngredientReteta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IngredientReteta" nillable="true" type="tns:IngredientReteta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIngredientReteta" nillable="true" type="tns:ArrayOfIngredientReteta" />
  <xs:complexType name="IngredientReteta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calorii" type="xs:double" />
      <xs:element minOccurs="0" name="Carbohidrati" type="xs:double" />
      <xs:element minOccurs="0" name="Grasimi" type="xs:double" />
      <xs:element minOccurs="0" name="Proteine" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IngredientReteta" nillable="true" type="tns:IngredientReteta" />
</xs:schema>